.first-column {
  padding: 10px;

  .profile-pic {
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 100px;

    img {
      margin: 0 -58.885% 10% -90.885%;
      width: 257.777%;
      border-radius: 1000px;
    }
  }

  .name {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
  .title {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;

    color: white;
  }
  .contact-info {
    list-style-type: none;
    padding-inline-start: 0px;

    li {
      padding: 10px;
    }
    svg {
      width: 40px;
      height: 40px;
    }

    span,
    a {
      margin: 15px;
      font-size: 18px;
      color: white;
      text-decoration: none;
    }
  }

  .skills-list {
    color: white;
    list-style: none;
    font-size: 20px;

    .skill-item {
      margin-bottom: 10px;
    }

    svg {
      color: $blue;
      font-size: 30px;
      margin-left: -10px;

      animation: spin 3s ease infinite;
      @keyframes spin {
        50%,
        100% {
          transform: rotatex(360deg);
        }
      }
    }
  }
}
