.home-header,
.home-footer {
  background-color: rgb(0, 210, 255);
  height: 40px;
}

.home-header {
  margin-top: 5px !important;
}

.home-footer {
  margin-bottom: 5px !important;
}

.home-main {
}
