.home-header,
.home-footer {
  background-color: $blue;
  height: 50px;
}

.home-header {
  margin-top: 5px !important;
  color: $grey;
  font-weight: 800;
  img {
    width: 30px;
    margin: 5px 10px 10px 20px;
    padding: 2px;
    cursor: pointer;
  }
  .selected {
    border: solid 3px $grey;
    border-radius: 15px;
  }
}

.home-footer {
  margin-bottom: 5px !important;
}
