@import './_variable.scss';
@import './loader.scss';
@import './home.scss';
@import './firstColumn.scss';
@import './secondColumn.scss';

body {
  background-color: $grey;
  color: $blue;
  font-family: 'Lato', sans-serif;
  padding: 0 5px;
}
