.experience-container,
.language-container,
.accomplishment-container {
  padding-bottom: 25px;
  .experience,
  .education,
  .languaje,
  .accomplishment {
    margin-bottom: 30px;

    .experience-role {
      font-size: 24px;
      padding-left: 20px;
    }

    .experience-company {
      font-weight: 100;
      font-size: 22px;
      padding-left: 20px;
    }

    .completion-date {
      padding-left: 20px;
      color: white;
      font-weight: 100;
    }

    p {
      padding-left: 20px;
      font-size: 22px;
      color: white;
    }
  }
  .education {
    padding-bottom: 20px;
  }

  .title {
    font-size: 35px;
    @media screen and (max-width: $mobile-width) {
      font-size: 30px;
    }
    font-weight: 600;
    margin: 20px 0;
  }
}

.language-container,
.accomplishment-container {
  margin-bottom: 25px;
}
