.experience-container,
.language-container,
.accomplishment-container {
  padding-bottom: 25px;
  .experience,
  .education,
  .languaje,
  .accomplishment {
    margin-bottom: 20px;

    .experience-role {
      font-size: 24px;
      padding-left: 20px;
      padding-top: 10px;

      .language-level {
        color: white;
        font-size: 20px;
      }
    }

    .experience-company {
      font-weight: 100;
      font-size: 20px;
      padding-left: 20px;
    }

    .experience-desc,
    .completion-date {
      padding-left: 20px;
      padding-top: 10px;
      font-size: 19px;
      color: white;
    }
  }
  .education {
    padding-bottom: 20px;
  }

  .title {
    font-size: 35px;
    @media screen and (max-width: $mobile-width) {
      font-size: 30px;
    }
    font-weight: 600;
    margin: 20px 0;
  }
}

.language-container,
.accomplishment-container {
  margin-bottom: 25px;
}
